body{
    max-width: 297mm;
    /* A4 paper: 210mm*297mm */
    font-size: 11.5pt;
}

img{
    max-height:85mm;
    max-width:100%;
    height:auto;
    width:auto;

    display: block;
    margin-left: auto;
    margin-right: auto;

}

a:hover {
    border: #330099 1px solid;
}

.title, .author {
    text-align: center;
}




.notebind-item {
}

.notebind-item .link{
    text-align: left;
    font-size: 150%;
}

.notebind-item .decoration_texts{
    font-size: 90%;
    /*color: #006600;*/
}

.notebind-item .metatexts{
    text-align: right;
    font-size: 90%;
    text-decoration: underline dotted black;
    /*color: #006600;*/
}
